<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Пицца-Птица</title>
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
    <!--[if IE 5]>
    <style type="text/css">
        /* place css box model fixes for IE 5* in this conditional comment */
        #sidebar1 { width: 200px; }
    </style>
    <![endif]--><!--[if IE]>
    <style type="text/css">
        /* place css fixes for all versions of IE in this conditional comment */
        #sidebar1 { padding-top: 30px; }
        #mainContent { zoom: 1; }
        /* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
    </style>
    <![endif]-->
</head>
