<!-- begin #header -->
<div id="header">
 	<div class="items"><a href="#">Заказ</a> | Количество: <b>4</b></div>
    <div>
       	<div class="logo">Пицца <span>Птица</span></div>
         <div class="search">
           	<input type="text" name="" id="datepicker" class="searcharea" />
           	<input type="button" value="Поиск" class="buttonsearch" />
         </div>
    </div>
    <br class="clearfloat" />
    <div id="navcontainer">
        {% include "mainmenu.html" %}
    </div>
    <div class="headerPic">
     	<div class="headerDescription">Новость дня</div>
        <div class="headerDetails"><a href="#">Подробнее...</a></div>
    </div>
</div>
<!-- end #header -->
