<!-- begin #header -->
<div id="header">
 	<div class="items"><a onclick="on_show_order_click()">Заказ</a> | Количество: <b id="orderposcount">{{ pos_count }}</b></div>
    <div>
       	<div class="logo">Пицца <span>Птица</span></div>
         <div class="search">
           	<input type="text" name="" class="searcharea" id="searchedit" />
           	<input type="button" value="Поиск" class="buttonsearch" onclick="on_search_click()" />
         </div>
    </div>
    <br class="clearfloat" />
    <div id="navcontainer">
        {% include "mainmenu.html" %}
    </div>
    <div class="headerPic">
     	<div class="headerDescription">Новость дня</div>
        <div class="headerDetails"><a href="#">Подробнее...</a></div>
    </div>
</div>
<!-- end #header -->
